
.vs/Do-it-C/FileContentIndex/be5f340d-d982-487a-a06b-7611d3adb427.vsidx
.vs/Do-it-C/FileContentIndex/fc2eeb74-6f45-44b3-b02f-9a5d9ae4f9f3.vsidx
.vs/Do-it-C/v17/.suo
.vs/Do-it-C/FileContentIndex/read.lock
.vs/Do-it-C/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
